*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(217, 28%, 15%);
    color: white;
}
h1{
    text-align: center;
}

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
a{
    border: 1px solid yellow;
    background-image: linear-gradient(purple, blue);
    color: white;
}