@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");

.header-container {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ul
{
    margin: 20px;

}
.header-part-container{
    background-color: hsl(217,28%,15%);
    height: 20vh;
    display: flex;
    justify-content: space-between;

}
.nav-links{
    text-decoration: none;
    color: white;
}
.nav-bar-container{
    display: flex;
    justify-content: center;
}
.logo{
    height: 35px;
}
.intro-image{
    height: 400px;

}
.intro-container{
    text-align: center;
    padding: 20px;
    

}
.intro-container h4{
    line-height: 35px;
    margin-top: 35px;
    color: white;
}

.intro-container p{
    line-height: 35px;
    margin-top: 25px;
    color: white;
}
#btn{
    border: none;
    background-color: hsl(176, 68%, 64%);
    width: 210px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);

}
.main-container{
    background-color: hsl(217,28%,15%);;
}
.icon-container p{
line-height: 25px;
margin-top: 15px;
}
.icon-container p{
    margin-top: 15px;
}
.icon-container{
    margin-top: 20px;
}
.icons-main-container{
    display: flex;
    justify-content: space-around;
    background-color:hsl(217,28%,15%) ;
    color: white;
}
.stay-image{
    height: 350px;
}
.prodct-container{
    background-color: hsl(217,28%,15%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    color: white;
    height: 80vh;
}
#arrow-icon{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.card-container{
    height: 220px ;
    width:  400px;
    background-color: hsl(219, 30%, 18%);
    color: white;
    border-radius: 6px;
    
    
}
.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: ;
    
}
.img-profile{
display: flex;
margin-top: 25px;

}
.img-profile div{
margin-left: 20px;
}
.card-m-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: hsl(217,28%,15%);
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
}
.Footer-contain{
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
    background-color: hsl(216,53%,9%);
    color: white;
    height: 50vh;
    
}
.footer-part{
    width: 550px;
    margin-top: 20px;
}
.body-container{
    text-align: center;
    width: 60%;
    box-shadow: 2px 3px 5px black;
    position: relative;
    background-color: hsl(217,28%,15%);
    padding: 25px;
    margin:auto;
    color: white;
    margin-top: 200px;
}
.main1{
    background-color: hsl(217,28%,15%);
}
.mail-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mail{
    width: 50%;
    border-radius: 30px;
    height: 50px;
}
.email-p{
    margin: auto;
    color: red;
    text-align: start;
    padding-left: 100px;
}